In [54]:
import numpy as np
import pandas as pd
import calendar
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [56]:
#cargar los datos de ventas con el comportamiento normal
vts_online_data = pd.read_csv('C:/Users/willi/OneDrive/Escritorio/Proyectos/Insumos_Tecnologicos_SA/Datasets/Fch_vts_online_n.csv')
vts_pres_data = pd.read_csv('C:/Users/willi/OneDrive/Escritorio/Proyectos/Insumos_Tecnologicos_SA/Datasets/Fch_vts_pres.csv')
vts_tel_data = pd.read_csv('C:/Users/willi/OneDrive/Escritorio/Proyectos/Insumos_Tecnologicos_SA/Datasets/Fch_vts_tel.csv')

In [57]:
#agregar un columna llamada Mes donde se va a enumarar los meses
mes = list(range(1, 64))
vts_online_data.insert(1, 'Mes', mes)

In [58]:
#agregar un columna llamada Mes donde se va a enumarar los meses
mes = list(range(1, 73))
vts_pres_data.insert(1, 'Mes',mes)
vts_tel_data.insert(1, 'Mes',mes)

In [59]:
#Dividir los datos en características (X) y variable objetivo (y)
X_online = vts_online_data.drop(['Ventas','Fecha'], axis=1)
y_online = vts_online_data['Ventas']

In [60]:
#Dividir los datos en características (X) y variable objetivo (y)
X_pres = vts_pres_data.drop(['Ventas','Fecha'], axis=1)
y_pres = vts_pres_data['Ventas']

In [61]:
#Dividir los datos en características (X) y variable objetivo (y)
X_tel = vts_tel_data.drop(['Ventas','Fecha'], axis=1)
y_tel = vts_tel_data['Ventas']

In [62]:
#Dividir datos en conjuntos de entrenamiento y prueba
#establecemos que los datos de prueba seran el 20% de los datos (test_size=0.2)
#establecemos que la division sea reproducible (random_state=42)
X_train_online, X_test_online, y_train_online, y_test_online = train_test_split(X_online, y_online, test_size=0.2, random_state=42)
X_train_pres, X_test_pres, y_train_pres, y_test_pres = train_test_split(X_pres, y_pres, test_size=0.2, random_state=42)
X_train_tel, X_test_tel, y_train_tel, y_test_tel = train_test_split(X_tel, y_tel, test_size=0.2, random_state=42)

In [63]:
#creamos el modelo de regresion lineal
model_online = LinearRegression()
model_pres = LinearRegression()
model_tel = LinearRegression()

In [64]:
#entrenar el modelo utilizando los datos de entrenamiento
model_online.fit(X_train_online, y_train_online)
model_pres.fit(X_train_pres, y_train_pres)
model_tel.fit(X_train_tel, y_train_tel)

LinearRegression()

In [65]:
#realizar predicciones con el conjunto de prueba
y_pred_online = model_online.predict(X_test_online)
y_pred_pres = model_pres.predict(X_test_pres)
y_pred_tel = model_tel.predict(X_test_tel)

In [66]:
#calcular el error cuadratico medio (MSE)
mse_online = mean_squared_error(y_test_online, y_pred_online)
print('Error cuadrático medio online (MSE): {:.2f}'.format(mse_online))

Error cuadrático medio online (MSE): 786.66

In [67]:
#calcular el error cuadratico medio (MSE)
mse_pres = mean_squared_error(y_test_pres, y_pred_pres)
print('Error cuadrático medio presencial (MSE): {:.2f}'.format(mse_pres))

Error cuadrático medio presencial (MSE): 1266.72

In [68]:
#calcular el error cuadratico medio (MSE)
mse_tel = mean_squared_error(y_test_tel, y_pred_tel)
print('Error cuadrático medio telefónio (MSE): {:.2f}'.format(mse_tel))

Error cuadrático medio telefónio (MSE): 1279.46

In [69]:
#calcular el coeficiente de determinación
r2_online = r2_score(y_test_online, y_pred_online)
print('Coeficiente de determinación online (R²):',r2_online)

Coeficiente de determinación online (R²): 0.9249935863958074

In [70]:
#calcular el coeficiente de determinación
r2_pres = r2_score(y_test_pres, y_pred_pres)
print('Coeficiente de determinación presencial (R²):',r2_pres)

Coeficiente de determinación presencial (R²): 0.8534856591448101

In [71]:
#calcular el coeficiente de determinación
r2_tel = r2_score(y_test_tel, y_pred_tel)
print('Coeficiente de determinación telefónica (R²):',r2_tel)

Coeficiente de determinación telefónica (R²): -0.26934056293026276

In [72]:
# Crear un data frame con los meses del año
indices = range(64, 77)

# Crear la columna 'Mes'
columna_mes = pd.Series(indices, name='Mes')

# Crear el DataFrame
X_pred_online = pd.DataFrame(columna_mes)

X_pred_online

    Mes
0    64
1    65
2    66
3    67
4    68
5    69
6    70
7    71
8    72
9    73
10   74
11   75
12   76

In [73]:
# Crear un data frame con los meses del año
indices = range(73, 85)

# Crear la columna 'Mes'
columna_mes = pd.Series(indices, name='Mes')

# Crear el DataFrame
X_pred_pres = pd.DataFrame(columna_mes)

X_pred_pres

    Mes
0    73
1    74
2    75
3    76
4    77
5    78
6    79
7    80
8    81
9    82
10   83
11   84

In [74]:
#predecir la cantidad de ventas para el año
y_pred_online = model_online.predict(X_pred_online)
y_pred_online = np.round(y_pred_online).astype(int)
y_pred_online

array([390, 395, 400, 405, 410, 414, 419, 424, 429, 434, 439, 444, 449])

In [75]:
#predecir la cantidad de ventas para el año
y_pred_pres = model_pres.predict(X_pred_pres)
y_pred_pres = np.round(y_pred_pres).astype(int)
y_pred_pres

array([38, 34, 31, 27, 23, 19, 16, 12,  8,  4,  1, -3])

In [90]:
#crear un data frame con la predicción de ventas para el 2021
#Crear la primera columna 'Fecha'
fecha_inicio = pd.Timestamp('2020-12-31')
fecha_fin = pd.Timestamp('2021-12-31')
fechas = pd.date_range(start=fecha_inicio, end=fecha_fin, freq='M')
vts_online = pd.DataFrame({'Fecha': fechas})

#Crear la segunda columna 'Mes'
mes = np.arange(64, 77)
vts_online['Mes'] = mes

#Crear la tercera columna 'Ventas'
ventas = y_pred_online
vts_online['Ventas'] = ventas

vts_online

        Fecha  Mes  Ventas
0  2020-12-31   64     390
1  2021-01-31   65     395
2  2021-02-28   66     400
3  2021-03-31   67     405
4  2021-04-30   68     410
5  2021-05-31   69     414
6  2021-06-30   70     419
7  2021-07-31   71     424
8  2021-08-31   72     429
9  2021-09-30   73     434
10 2021-10-31   74     439
11 2021-11-30   75     444
12 2021-12-31   76     449

In [92]:
#crear un data frame con la predicción de ventas para el 2021
#Crear la primera columna 'Fecha'
fecha_inicio = pd.Timestamp('2021-01-31')
fecha_fin = pd.Timestamp('2021-12-31')
fechas = pd.date_range(start=fecha_inicio, end=fecha_fin, freq='M')
vts_pres = pd.DataFrame({'Fecha': fechas})

#Crear la segunda columna 'Mes'
mes = np.arange(73, 85)
vts_pres['Mes'] = mes

#Crear la tercera columna 'Ventas'
ventas = y_pred_pres
vts_pres['Ventas'] = ventas

vts_pres

        Fecha  Mes  Ventas
0  2021-01-31   73      38
1  2021-02-28   74      34
2  2021-03-31   75      31
3  2021-04-30   76      27
4  2021-05-31   77      23
5  2021-06-30   78      19
6  2021-07-31   79      16
7  2021-08-31   80      12
8  2021-09-30   81       8
9  2021-10-31   82       4
10 2021-11-30   83       1
11 2021-12-31   84      -3

In [91]:
# Eliminar la primera fila ya que pertenece al año 2020
vts_online = vts_online.drop(vts_online.index[0])

#Reindexar el DataFrame
vts_online = vts_online.reset_index(drop=True)

# Convertir los valores numéricos del mes a palabras en la columna "Fecha"
vts_online['Fecha'] = pd.to_datetime(vts_online['Fecha']).dt.strftime('%Y-%B-%d')

# Eliminar el año de la columna Fecha
vts_online['Fecha'] = pd.to_datetime(vts_online['Fecha']).dt.strftime('%B-%d')


vts_online

           Fecha  Mes  Ventas
0     January-31   65     395
1    February-28   66     400
2       March-31   67     405
3       April-30   68     410
4         May-31   69     414
5        June-30   70     419
6        July-31   71     424
7      August-31   72     429
8   September-30   73     434
9     October-31   74     439
10   November-30   75     444
11   December-31   76     449

In [93]:
# Eliminar la última fila ya que es un valor negativo
vts_pres = vts_pres.drop(vts_pres.index[11])

# Reindexar el DataFrame
vts_pres = vts_pres.reset_index(drop=True)

# Convertir los valores numéricos del mes a palabras en la columna "Fecha"
vts_pres['Fecha'] = pd.to_datetime(vts_pres['Fecha']).dt.strftime('%Y-%B-%d')

# Eliminar el año de la columna Fecha
vts_pres['Fecha'] = pd.to_datetime(vts_pres['Fecha']).dt.strftime('%B-%d')

vts_pres

           Fecha  Mes  Ventas
0     January-31   73      38
1    February-28   74      34
2       March-31   75      31
3       April-30   76      27
4         May-31   77      23
5        June-30   78      19
6        July-31   79      16
7      August-31   80      12
8   September-30   81       8
9     October-31   82       4
10   November-30   83       1

In [94]:
#guardar los data frames en archivo csv
vts_online.to_csv('C:/Users/willi/OneDrive/Escritorio/Proyectos/Insumos_Tecnologicos_SA/Datasets/pred_vts_online.csv', index=False)
vts_pres.to_csv('C:/Users/willi/OneDrive/Escritorio/Proyectos/Insumos_Tecnologicos_SA/Datasets/pred_vts_pres.csv', index=False)