In [34]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [35]:
#cargar los datos de ventas con el comportamiento normal
sales_data = pd.read_csv('C:/Users/willi/OneDrive/Escritorio/Proyectos/Insumos_Tecnologicos_SA/Datasets/Fch_vts_online_A.csv')
sales_data

         Fecha  Ventas
0   2015-01-31     112
1   2015-02-28     123
2   2015-03-31     106
3   2015-04-30      95
4   2015-05-31     117
..         ...     ...
61  2020-02-29     700
62  2020-03-31     711
63  2020-04-30     696
64  2020-05-31     731
65  2020-09-30     764

[66 rows x 2 columns]

In [36]:
#agregar un columna llamada Mes donde se va a enumarar los meses
mes = list(range(1, 67))
sales_data.insert(1, 'Mes', mes)

In [37]:
#Dividir los datos en características (X) y variable objetivo (y)
X = sales_data.drop(['Ventas','Fecha'], axis=1)
y = sales_data['Ventas']

In [38]:
#Dividir datos en conjuntos de entrenamiento y prueba
#establecemos que los datos de prueba seran el 20% de los datos (test_size=0.2)
#establecemos que la division sea reproducible (random_state=42)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [39]:
#creamos el modelo de regresion lineal
model = LinearRegression()

In [40]:
y_train

34    207
25    245
3      95
17    141
40    287
8      75
6      99
28    232
4     117
48    382
36    284
19    159
56    366
59    341
58    350
50    351
31    224
44    259
64    731
15    162
27    259
26    237
24    232
47    284
11     92
32    213
61    700
46    286
37    231
29    187
43    332
49    323
1     123
21    165
2     106
53    343
39    273
35    248
52    338
23    159
55    359
10     85
22    189
18    169
57    327
38    280
20    184
60    700
7     129
42    259
14    161
51    340
Name: Ventas, dtype: int64

In [41]:
#entrenar el modelo utilizando los datos de entrenamiento
model.fit(X_train, y_train)

LinearRegression()

In [42]:
#realizar predicciones con el conjunto de prueba
y_pred = model.predict(X_test)

In [43]:
X_test

    Mes
54   55
62   63
0     1
45   46
5     6
63   64
16   17
12   13
65   66
30   31
33   34
9    10
41   42
13   14

In [44]:
y_pred

array([398.69300268, 451.34492807,  43.29250626, 339.45958661,
        76.19995963, 457.92641875, 148.59635705, 122.27039435,
       471.0894001 , 240.73722649, 260.48169852, 102.52592233,
       313.13362391, 128.85188503])

In [45]:
sales_data

         Fecha  Mes  Ventas
0   2015-01-31    1     112
1   2015-02-28    2     123
2   2015-03-31    3     106
3   2015-04-30    4      95
4   2015-05-31    5     117
..         ...  ...     ...
61  2020-02-29   62     700
62  2020-03-31   63     711
63  2020-04-30   64     696
64  2020-05-31   65     731
65  2020-09-30   66     764

[66 rows x 3 columns]

In [46]:
#calcular el error cuadratico medio (MSE)
mse = mean_squared_error(y_test, y_pred)
print('Error cuadrático medio (MSE): {:.2f}'.format(mse))

Error cuadrático medio (MSE): 16155.48

In [47]:
#calcular el coeficiente de determinación
r2 = r2_score(y_test, y_pred)
print('Coeficiente de determinación (R²):',r2)

Coeficiente de determinación (R²): 0.6871143285147276